
.book-review .border-bot{
  border-bottom: 1px solid;
}

.book-review .book-info-title{
  font-weight: bold;
  font-size: 14px;
}
.book-review .book-info-row{
  @extend .border-bot;
  padding: 3px 20px;
}
.custom-card-booking-review{
  float: left;
}
.custom-card-booking-review-right{
  float: right;
  text-align: right;
}
.book-review .ant-card{
  margin: 0px !important;
  padding: 20px;
  border: none;
}
.btn-submit.ant-col-xs-24.ant-col-sm-24.ant-col-md-24.ant-col-lg-24.ant-col-xl-24 {
  text-align: center;
  margin-top: 20px;
}