@import '~antd/dist/antd.css';
body{
  color: #666;
}
h2.head-title{
  font-size: 25px;
  font-weight: 100;
  margin-bottom:20px;


}

@-webkit-keyframes progressbar {
  from {
    width:0
  }
  to {
    width:100%
  }
}
@keyframes progressbar {
  from {
    width:0
  }
  to {
    width:100%
  }
}
