@import '~antd/dist/antd.css';
body{
  color: #666;
}
a,h2{
  color: #e9550f;
}
a:hover{
  color:#d04b0d
}
img{max-width: 100%}
h2.title-medium{
  font-size: 15px;
  text-transform: capitalize;
}
h2.title{
  text-transform: capitalize;
}
h2.head-title{
  font-size: 25px;
  font-weight: 100;
  margin-bottom:20px;
  text-transform: capitalize;
}

h2.head-title-center{
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  margin: 20px 0 20px 0;
  text-transform: capitalize;
}
.ant-table-content{
  background: white;
}
#user-dashboard .ant-card{
  border-radius: 4px;
}
#user-dashboard .ant-card:not(.ant-card-no-hovering):hover{
  box-shadow: none;
  border-color: #dddddd;
}
.fullheight-with-top {
  height: calc(100vh - 40px);
}
.menu_simple {
  text-align: center;
  line-height: 50px;
  li{
    display: inline-block;
    margin: 0 5px;
  }
}
.container{
  max-width: 1000px;
  margin: 0 auto;
}


.btn-submit:hover{
  color: #fff;
  background-color: #e95410;
  border-color: #a7400c;
}
.btn-submit{
  text-align: center;
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  height: 40px;
  border-radius: 0px;
  font-size: 15px;
  color: #fff;
  background-color: #e95410;
  border-color: #a7400c;
}
.ant-carousel .slick-dots li button{
  height: 12px !important;
}



@-webkit-keyframes progressbar {
  from {
    width:0
  }
  to {
    width:100%
  }
}
@keyframes progressbar {
  from {
    width:0
  }
  to {
    width:100%
  }
}



