#home {

  #line-intro {
    color: #F9F9F9;
    text-align: left;
    padding: 50px 0;
    background-color: #e63e3e;
    position: relative;
    border-top: 5px solid #ffc517;
    h3 {
      margin: 0 auto;
      left: 0;
      right: 0;
      z-index: 3;
      text-align: center;
    }
    .font-i {
      padding-top: 0px;
      font-weight: 500;
      font-style: normal;
      color: white;
      text-decoration: none;
      letter-spacing: 0px;
      word-spacing: 0px;
      font-variant: normal;
      font: italic normal normal 70px/1.4em impact;
      text-transform: uppercase;
      line-height: 100px;
      text-transform: uppercase;
    }
  }
  #home-intro {

    position: relative;

    .ant-carousel .slick-dots li button{
      height: 16px;
      border: 1px solid #ffc517;
    }

    .ant-carousel .slick-dots li.slick-active button{
      background: #ffc517;
    }
    .ant-carousel .slick-dots {
      bottom: 40px;
    }
    .btn{
      background: #ffc517;
      border: 0;
      padding: 6px 50px;
      text-transform: uppercase;
      font-size: 17px;
      margin-top: 30px;
      font-weight: bold;
      color: #2b2a2a;
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      width: 200px;
      margin: auto;
      bottom: -21px;
    }
    img{ display: inline-block}

    text-align: center;
    min-height: 700px;
    width: 100%;
    padding: 60px 0 0 0;
    background: url(/images/home-intro-bg.jpg) no-repeat;
    background-size: 100% 100%;
  }


}
