#layout-booknow{

  .btn-middle{
    width: 25%;
    text-decoration: none;
    display: inline-block;
    background: #f5f5f5;
    height: 30px;
    line-height: 25px;
    border: 1px solid #d9dbdc;
    padding: 0 10px;
    border-radius: 4px;
    color: #403c3c;

  }
  .btn-right{
    float: right;
    margin-top: 19px;
    display: inline-block;
    background: #f5f5f5;
    height: 25px;
    line-height: 25px;
    border: 1px solid #d9dbdc;
    padding: 0 10px;
    border-radius: 4px;
    color: #403c3c;
    i{
      margin-right: 2px;
    }

  }
  .ant-btn-default{
    a{
      color: #6d6a6a;
    }
  }
  .ant-layout-header {
    background: #ffffff;
    margin-bottom: 20px;
  }
  #header{
    padding: 0 20px;
    border-bottom: 1px solid #e4e4e4;
    a.logo{
      display: inline-block;
      color: #525252;
      text-decoration: none;
      font-size: 20px;
    }


  }

  .photosesh-type{
    background: white;

    .title{
      text-align: center;
      font-size: 30px;
      font-weight: 100;
      margin-bottom: 30px;
    }
    .ant-card {
      margin: 10px;
      cursor: pointer;
    }
    .container{
      max-width: 1000px;
      margin: auto;
    }
    .custom-image img {
      display: block;
      width: 100%;
    }
    .custom-card {

      padding: 10px 16px;
      margin: 10px
    }
    .custom-card p {
      color: #999;
    }
    .custom-detail-light{
      text-align: center;
      padding-bottom: 20px;
      h2{
        padding: 20px 0;
        color: brown;
      }
    }
  }

  .choose-address{
    .ant-layout-header {
      margin-bottom: 0px;
    }

    .sidebar{

      padding: 20px;
      height: calc(100vh - 80px);
      background: linear-gradient(-50deg,#F3F3F3 50%, #F9F9F9 50%);

      .ant-form-item-label{
        padding-bottom: 0;
      }
      .ant-form-item-label label {
        font-weight: bold;
        color: #676e94;
      }
      .book-btn{
        margin-right: 20px;
      }
      .start-time{
        margin-right: 20px;
      }
      .booklater-duration{

        overflow: hidden;
        width: 100%;
        .from,.to{
          float: left;
          width: 49%;
        }
        .from{
          margin-right: 2%;
        }
      }

    }
  }
}
