@import '~antd/dist/antd.css';
.ant-layout {
  background: none;
}
#header{
  .logo{
    a{
      text-align: center;
      font-size: 30px;
      display: block;
      color: white;
      text-decoration: none;
    }
  }

}