:local(.need_photosesh){


}
:local(.container){
  max-width: 1000px;
  margin: auto;
}
:local(.custom_image img){
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
:local(.custom_card p){
  color: #999;
  height: 6em;

}
:local(.custom_card){
  padding: 10px 16px;
  margin: 10px
}
:local(.custom_detail_light){
  text-align: center;
  padding-bottom: 20px;
}

:local(.item){
  padding: 10px;
}
