
:local(.signup_form ){
    margin: auto;
    max-width: 500px;
    padding: 30px 20px;
    background: #fbfbfb;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 1px #ddd;
    box-shadow: 1px 1px 1px #ddd;
    margin-top: 100px;
}
:local(.signup_form h2 ){
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 30px;
}
:local(.signup_form h2 span){
    color: #ff6316;
}
:local(.input){
    font-size:15px;
}
:local(.forgot ){
    float: right;
}
:local(.button ){
    width: 100%;
}

:local(.footer ){
    text-align: center;
    line-height: 50px;
}

:local(.footer li ){
    display: inline-block;
    margin: 0 5px;
}