:local(.header_user){
    text-align: center;
    background: linear-gradient(-22deg, #F9F9F9 50%, #F3F3F3 50%);
}
:local(.header_user i){
    font-size: 40px;
    text-align: center;
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 56px;
    border-radius: 50%;
    background: white;
    margin:20px 20px 0 20px;
    border: 1px solid #ddd;
}

:local(.header_user span){
    line-height: 40px;
    font-size: 14px;
    color: #797877;
}

