body{
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
}
#header{
  .header-top{
    padding: 10px 20px;
    border-bottom: 1px solid #f1f1f1;
    i.glyphicon-headphones{

    }
  }

  .header-bot{
    padding: 10px 20px;

    .logo{
      float: left;
      font-size: 20px;
      color: #615e5e;
    }
    .main-menu{
      float: right;
    }
  }
  .sub{
    vertical-align: sub;
  }
  .red{
    color: red;
  }
}
