body{

    font-family: 'Vidaloka', serif;
  color: #666;
}
#header{
  .header-top{
    padding: 0px 20px;
    line-height: 40px;
    border-bottom: 1px solid #f1f1f1;
    i.glyphicon-headphones{

    }
  }

  .header-bot{
    padding: 0px 20px;

    .logo{
      float: left;
      font-size: 20px;
      color: #615e5e;
      line-height: 60px
    }
    .main-menu{
      float: right;
    }
  }
  .sub{
    vertical-align: sub;
  }
  .red{
    color: red;
  }
  .primary{
    color: #03A9F4;
  }
}
