:local(.item_wrapper) {
    padding: 5px !important;
}
/*first item*/

:local(.item_btn:hover) {
    background: #e6e6e6;
}
:local(.item_btn) {
    padding: 8px 30px;
    margin: 5px;
    border: 1px solid #131111;

}
:local(.icon_wrapper) {
    font-size: 60px;
    display: block;
    text-align: center;

}

:local(.first_item .new_project_text) {
    font-size: 13px;
    text-align: center;
    color: #4b4b4b;
}
:local(.first_item a) {
    color: #4b4b4b;
    margin-bottom: 40px;
}

:local(.first_item:hover) {
    border: 0 !important;
    box-shadow: none !important;
}
:local(.first_item) {
    height: 350px;
    text-align: center;
    border: 0 !important;
    padding-top: 30px;
}
/*first item*/



/*item*/

:local(.item) {
    min-height: 350px;
    border: 3px solid #f3f3f3;
    border-radius: 0;
    text-align: center;
}
:local(.status_icon) {
    position: absolute !important;
    right: 0;
}
:local(.status) {
    text-align: center;
    position: relative;
    padding: 30px 0;
    font-size: 20px;
    color: #b1b1b1;
}

:local(.agent_name) {
    font-size: 14px;
    color: #a7a7a7;
    margin-bottom: 10px;

}
:local(.date) {
    font-size: 17px;
    font-weight: 100;
    color: #ccc;
}
:local(.time) {
    font-size: 17px;
    font-weight: bold;
}
:local(.address) {
    color: #4b4b4b;
    font-size: 14px;
    margin-bottom: 10px;
    height: 3em;
}

:local(.title) {
    font-size: 25px;
    font-weight: 400;
    color: #4b4b4b;
    margin-bottom: 10px;
}
/*item*/